pkgbase = procscope
	pkgdesc = Process-scoped runtime investigation tool using eBPF
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/procscope/procscope
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go>=2:1.22
	source = procscope-0.1.0.tar.gz::https://github.com/procscope/procscope/archive/v0.1.0.tar.gz
	sha256sums = febe34758af916e47009b6584a6340bfb5047595b6aa56327c5b61c5f53c44cf

pkgname = procscope
